version: "3"

services:
  app:
    build:
      context: ./
      args:
        - ENVIRONMENT=DEV
    env_file: .env
    image: ghcr.io/front-matter/invenio-rdm:v.0.1.32
    restart: "unless-stopped"
    environment:
      - "INVENIO_ACCOUNTS_SESSION_REDIS_URL=redis://cache:6379/1"
      - "INVENIO_BROKER_URL=amqp://guest:guest@mq:5672/"
      - "INVENIO_CACHE_REDIS_URL=redis://cache:6379/0"
      - "INVENIO_CACHE_TYPE=redis"
      - "INVENIO_CELERY_BROKER_URL=amqp://guest:guest@mq:5672/"
      - "INVENIO_CELERY_RESULT_BACKEND=redis://cache:6379/2"
      - "INVENIO_SEARCH_ELASTIC_HOSTS=['es:9200']"
      - "INVENIO_SECRET_KEY=CHANGE_ME"
      - "INVENIO_SQLALCHEMY_DATABASE_URI=postgresql+psycopg2://rdm:rdm@db/rdm"
      - "INVENIO_WSGI_PROXIES=2"
      - "INVENIO_RATELIMIT_STORAGE_URL=redis://cache:6379/3"
    ports:
      - "9000:80"
  es:
    image: docker.elastic.co/elasticsearch/elasticsearch:7.10.2
    ports:
      - "9201:9200"
      - "9301:9300"
    environment:
      discovery.type: single-node
      ES_JAVA_OPTS: -Xms512m -Xmx512m
      ELASTIC_PASSWORD: changeme
      xpack.security.enabled: "false"
      http.cors.enabled: "true"
      http.cors.allow-origin: "*"
   # volumes:
    #  - data:/usr/share/elasticsearch/data
    healthcheck:
      test: curl -f http://elastic:changeme@elasticsearch:9200
      interval: 10s
      timeout: 1s
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 1g
  kibana:
    image: docker.elastic.co/kibana/kibana-oss:7.10.2
    environment:
      - "ELASTICSEARCH_HOSTS=http://es:9200"
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - "5601:5601"
  db:
    image: postgres:14.4
    restart: always
    environment:
      - "POSTGRES_USER=rdm"
      - "POSTGRES_PASSWORD=rdm"
      - "POSTGRES_DB=rdm"
    ports:
      - '5432:5432'
    volumes: 
      - db:/usr/share/postgresql/data
  pgadmin:
    image: dpage/pgadmin4:5.2
    restart: "unless-stopped"
    ports:
      - "5050:80"
      - "5051:443"
    environment:
      PGADMIN_DEFAULT_EMAIL: "info@front-matter.io"
      PGADMIN_DEFAULT_PASSWORD: "rdm"
    volumes:
      - ./docker/pgadmin/servers.json:/pgadmin4/servers.json
  mq:
    image: rabbitmq:3.8-management
    restart: "unless-stopped"
    ports:
      - "15672:15672"
      - "5672:5672"
  cache:
    image: redis:7.0
    restart: "unless-stopped"
    read_only: true
    ports:
      - "6379:6379"
volumes:
  db:
    driver: local
  data:
    driver: local
